<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="../css/Benefit_css/Content/globals.css" />
	<link rel="stylesheet" href="../css/Benefit_css/Content/style5.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="navigation">
          <div class="navbar">
          	<div th:if="${user eq 'admin'}">
						<div class="text-wrapper" Style="cursor: pointer;" onclick="location.href='../admin_Userpage'">관리자 페이지</div>
			</div>
			<div class="item-2" style="cursor: pointer" onclick="location.href='../Community/List'">갓생은 첨이라</div>
		    <div class="item-3"	style="cursor: pointer;"onclick="location.href='/Benefit/List'">혜택 및 지원금</div>
			<div class="item-4"	style="cursor: pointer;"onclick="location.href='/Main'">홈페이지</div>
          </div>
		  <div class="view">
		  	<button class="button">환영합니다&nbsp;[[${user}]]</button>
		  	<a href="/logout" class="button" style="cursor: pointer;">로그아웃</a>
		  	<img onclick="location.href='../Mypage/main'" style="cursor: pointer;" class="vector" src="../images/benefit_img/vector-4.svg" />
		  </div>
        </div>
		
        <div class="overlap">
          <div class="main">
            <div class="div-board-head">
              <div class="overlap-group">
                <div class="heading">청년전용창업자금</div>
                <div class="span-inline-flex"><div class="text-wrapper-2">D-20</div></div>
              </div>
              <div class="span-board-sub-tit">
                <div class="span-board-date"><div class="text-wrapper-3">2023.9.14</div></div>
                <div class="span-writer">
                  <div class="pseudo"></div>
                  <div class="text-wrapper-4">중소벤처기업진흥공단</div>
                </div>
              </div>
            </div>
            <img class="p" src="../images/benefit_img/content/5-5.png">
            <div class="overlap-2">
              <div class="div-fund-detail">
                <div class="heading-2">정책소개</div>
                <div class="div-contents-box">
                  <p class="strong">
                    우수한 기술과 사업성은 있으나 자금이 부족한 중소 및 <br />벤처기업의 창업을 활성화하고 고용창출을
                    도모하는 사업입니다.
                  </p>
                </div>
              </div>
              <div class="div-fund-detail-2">
                <div class="heading-3">정책내용</div>
                <div class="descriptions">
                  <div class="div-hd-ed">
                    <div class="term">지원내용</div>
                    <div class="details">
                      <p class="element">
                        대출한도 : 기업당 최대 1억원 이내(제조업, 지역특화주력산업은 2억원 이내)<br />대출기간:
                        (시설자금) 10년 이내, (운전자금)6년 이내<br />대출금리: 2.5퍼센트(고정)
                      </p>
                    </div>
                  </div>
                  <div class="div-hd-bcd">
                    <div class="term-2">지원대상</div>
                    <div class="element-wrapper">
                      <p class="element-2">
                        청년전용창업자금-대표자가 만 39세 이하로서 업력 3년 미만인 중소기업 또는 중소기업을 창업하는
                        자<br />창업기반지원자금(대환대출)-제2금융권 고금리(연 7% 이상) 대출을 성실상환 중인
                        기업(1,000억원)
                      </p>
                    </div>
                  </div>
                  <div class="div-full">
                    <div class="term-3">제출서류</div>
                    <div class="https-www-kosmes-or-wrapper">
                      <p class="https-www-kosmes-or">
                        <span class="span">사전상담<br />융자신청<br />실태조사 단계별로 서류 제출<br /></span>
                        <span class="text-wrapper-5"
                          >&nbsp;&nbsp;*자세한 내용은 홈페이지에서 확인
                          https://www.kosmes.or.kr/sbc/SH/SBI/SHSBI003M0.do</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="div-hd-fdfdd">
                <div class="term-4">신청방법</div>
                <div class="details">
                  <p class="text-wrapper-6">
                    중진공 홈페이지에서 정책자금 신청<br />자가 진단<br />정보제공동의(기업용, 개인용 인증서 필요)<br />사전
                    상담<br />신청/접수(신청서 업로드)<br />기업평가 및 융자결정
                  </p>
                </div>
              </div>
            </div>
            <a href="http://www.kosmes.or.kr/sbc/SH/RET/SHRET010M0.do" style="cursor: pointer;" class="div-wrapper"><div class="text-wrapper-7">신청하기</div></a>
            <img class="banner" src="../images/benefit_img/content/banner.png" />
          </div>
          <footer class="footer">
            <div class="view-2">
              <div class="div-cl-control">
                <div class="div-cl-layout">
                  <button class="button-2"><div class="text-wrapper-8">대학인싸</div></button>
                  <button class="button-3"><div class="text-wrapper-8">뉴스레터</div></button>
                  <button class="button-4"><div class="text-wrapper-9">개인정보처리방침</div></button>
                  <button class="button-5"><div class="text-wrapper-8">사이트맵</div></button>
                </div>
              </div>
              <div class="div-cl-layout-2">
                <div class="div-cl-text"><div class="text-wrapper-10">회사명</div></div>
                <div class="div-cl-text-2"><div class="text-wrapper-11">주소</div></div>
                <div class="naver-com-wrapper"><div class="naver-com">dbstn6622@naver.com</div></div>
                <div class="div-cl-text-3">
                  <p class="text-wrapper-12">16391 수원시 권선구 금곡로 229 로얄펠리스 3차 935호</p>
                </div>
                <div class="div-cl-text-4"><div class="text-wrapper-12">(주) 대학인싸</div></div>
                <div class="div-cl-control-2"><div class="text-wrapper-13">010-1234-5678</div></div>
              </div>
            </div>
            <div class="span-text-sm">
              <div class="text-wrapper-14">© 2023</div>
              <div class="link-MAYCAN-inc">대학인싸.inc. All Rights Reserved.</div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>