<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/join_css/globals.css" />
    <link rel="stylesheet" href="/css/join_css/style_edit.css" />
  </head>
  <body>
    <div class="element">
		<div class="navigation">
				  <div class="navbar">
					<div class="item-3" style="cursor: pointer;"onclick="location.href='../Community/List'">갓생은 첨이라</div>
					<div class="item-4" style="cursor: pointer;"onclick="location.href='../Benefit/List'">혜택 및 지원금</div>
					<div class="item-5" style="cursor: pointer;"onclick="location.href='../Main'">홈페이지</div>
				  </div>
		</div>
		 <div class="view-6">
			<button class="button-6">환영합니다&nbsp;[[${user}]]</button>
			<a href="/logout" class="button-6" style="cursor: pointer;">로그아웃</a>
		    <img onclick="location.href='/Mypage/main'" style="cursor: pointer;" class="vector" src="/images/benefit_img/vector-4.svg" />
		 </div>
      <div class="main">
      <div th:each="userdatas : ${sel_user}">
        <div class="overlap-group">
          <div class="view">
            <div class="text-wrapper">유저 정보 변경</div>
            <div class="form-wrapper">
              <form action="edit_user" method="post" class="form">
                <div class="div-mt">
                  <div class="div">
                    <div class="label"><div class="text-wrapper-2">아이디</div></div>
                    <input name="username" class="input" th:value="${userdatas.u_id}">
                  </div>
                  <div class="view-2">
                    <div class="label"><div class="text-wrapper-3">비밀번호</div></div>
                    <input type="password" name="password" class="input" th:value="${userdatas.u_pw}" >
                  </div>
                  <div class="view-3">
                    <div class="label"><div class="text-wrapper-4">이름</div></div>
                     <input name="u_nm" class="input" th:value="${userdatas.u_nm}">
                  </div>
                  <div class="view-4">
                    <div class="label"><div class="text-wrapper-5">주소</div></div>
                    <input name="u_addr" class="input" th:value="${userdatas.u_addr}">
                  </div>
                  <div class="view-5">
                    <div class="label"><div class="text-wrapper-3">주민번호</div></div>
                    <input name="u_sec_n1" class="input-2" th:value="${userdatas.u_sec_n1}">
                    <input name="u_sec_n2" class="input-3" th:value="${userdatas.u_sec_n2}">
                    <input name="u_num" type="hidden" th:value="${userdatas.u_num}"> 
                    <img class="line" src="images/join_img/line-1.svg" />
                  </div>
                  <button type="submit" onclick="return Rex();" style="cursor: pointer;" class="button-wrapper">
                  	<div class="text-wrapper-6">변경하기</div>
                  </button>
                </div>
              </form>
            </div>
          </div>
         </div>
        </div>
       </div> 
          <div class="footer">
            <div class="footer-2">
              <div class="div-cl-control">
                <div class="div-cl-layout">
                  <button class="div-wrapper"><div class="text-wrapper-7">대학인싸</div></button>
                  <button class="button-2"><div class="text-wrapper-7">뉴스레터</div></button>
                  <button class="button-3"><div class="text-wrapper-8">개인정보처리방침</div></button>
                  <button class="button-4"><div class="text-wrapper-7">사이트맵</div></button>
                </div>
              </div>
              <div class="div-cl-layout-2">
                <div class="div-cl-text"><div class="text-wrapper-9">회사명</div></div>
                <div class="div-cl-text-2"><div class="text-wrapper-10">주소</div></div>
                <div class="naver-com-wrapper"><div class="naver-com">dbstn6622@naver.com</div></div>
                <div class="div-cl-text-3">
                  <p class="text-wrapper-11">16391 수원시 권선구 금곡로 229 로얄펠리스 3차 935호</p>
                </div>
                <div class="div-cl-text-4"><div class="text-wrapper-11">(주) 대학인싸</div></div>
                <div class="div-cl-control-2"><div class="text-wrapper-12">010-1234-5678</div></div>
              </div>
            </div>
            <div class="copyright">
              <div class="text-wrapper-13">© 2023</div>
              <div class="link-MAYCAN-inc">대학인싸.inc. All Rights Reserved.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
	<script>
		    function Rex() {
		      var username = document.getElementsByName('username')[0].value;
		      var password = document.getElementsByName('password')[0].value;
		      var u_nm = document.getElementsByName('u_nm')[0].value;
		      var u_addr = document.getElementsByName('u_addr')[0].value;
		      var u_sec_n1 = document.getElementsByName('u_sec_n1')[0].value;
		      var u_sec_n2 = document.getElementsByName('u_sec_n2')[0].value;

		      var username_Rex = /^[a-zA-Z0-9]{5,20}$/;
		      var password_Rex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,20}$/;
		      var u_nm_Rex = /^[가-힣]{2,4}$/;
		      var u_addr_Rex = /^.{5,100}$/;
		      var u_sec_n1_Rex = /^[0-9]{6}$/;
		      var u_sec_n2_Rex = /^[0-9]{7}$/;

		      if (!username_Rex.test(username)) {
		        alert("아이디는 영문 대소문자 및 숫자로 입력해주세요.");
		        return false;
		      }

		      if (!password_Rex.test(password)) {
		        alert("비밀번호는 8자 이상, 최소 하나의 대소문자 및 숫자를 포함해야 합니다.");
		        return false;
		      }

		      if (!u_nm_Rex.test(u_nm)) {
		        alert("이름은 한글로 입력해주세요");
		        return false;
		      }

		      if (!u_addr_Rex.test(u_addr)) {
		        alert("주소를 올바르게 입력해주세요");
		        return false;
		      }

		      if (!u_sec_n1_Rex.test(u_sec_n1) || !u_sec_n2_Rex.test(u_sec_n2)) {
		        alert("주민번호를 올바르게 입력해주세요");
		        return false;
		      }

		      return true;
		    }
	</script>
  </body>
</html>
